# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# If using SQLite, database files
db.sqlite3

# Local media and static files
/media
/staticfiles

# Virtual Environment
VE/

# IDE / Editor settings
.vscode/
.idea/

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Windows related files
Thumbs.db
.DS_Store
