
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Python Guides</title>
    <style>
        h1 {
          text-align: center;
          font-size: 24px;
        }
        td, th {
          text-align: center;
        }
      </style>
</head>
<body>
  <img src="https://shivamcasa.000webhostapp.com/logo3.png" alt="" style="height: 150px; width: 200px">
     <hr/>
      <h1 style="text-decoration: underline;">List of Customers</h1>
      <h3>Report Created On : 03/11/2023</h3>
      <table border="1" align="center" cellpadding="5" cellspacing="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>House No</th>
            <th>Contact</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          
            <tr>
              <td>1 </td>
              <td>om </td>
              <td>om@gmail.com </td>
             
              <td>832</td>
              <td>9754123685</td>
              <td>Nov. 3, 2023</td>
            </tr>
              
        </tbody>
      </table>
</body>
</html>